@import "variables";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    .container {
        width: 500px;
        max-width: 95vw;
        height: 500px;
        border: 1px solid $black;
        margin: 0 auto;

        .maps {
            height: 100%;
            width: 100%;
        }
    }
}
